/* XL Device :1200px. */
@media (min-width: 1450px) and (max-width: 1920px) {


}



/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {



}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.single-txt p {
	font-size: 19px;
	text-align: center;
	font-family: Kalam-Regular;
}
.featured {
	margin-top: 20px;
	margin-bottom: 75px;
}
.single-txt.text-2 p {
    transform: rotate(7deg);
    margin-top: 20px;
    width: 300px;
    position: relative;
    left: -60px;
}








}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.single-txt p {
	font-size: 17px;
}

.title p {
	font-size: 21px;
}

.single-txt a {
	font-size: 18px;
}
.title h1 {
	font-size: 50px;
	line-height: 50px;
}
.single-txt.text-1 img {
	width: 30px;
}
.single-txt.txt-2 img {
	width: 30px;
	margin-top: -10px;
}
.featured img {
	max-width: 690px;
}
.title {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
}
.single-txt.txt-2 img {
	left: 60%;
}
.featured {
	margin-top: 50px;
	margin-bottom: 85px;
}

.single-txt.text-2 p {
    transform: rotate(7deg);
    margin-top: 20px;
    width: 300px;
    position: relative;
    left: -60px;
}
.row.featured-warpp {
	margin-top: -85px;
	padding-bottom: 80px;
}
.main-fetured.frd-1 img {
	margin-left: 20px;
}
.main-fetured.frd-3 img {
	margin-left: 0px;
}




}
 





/* SM Small Device :550px. */
@media only screen and (max-width: 767px) {
.featured img {
	max-width: unset;
	width: 100% !important;
}
 .title h1 {
	font-size: 28px;
	line-height: 34px;
}
.title p {
	color: ;
	font-size: 18px;
	letter-spacing: .4px;
	line-height: 25px;
}
.single-txt a {
	font-size: 17px;
}
.single-txt p {
	font-size: 20px;
	text-align: center;
	font-family: Kalam-Regular;
}

.single-txt.text-1 p {
	transform: 0;
	margin-top: 35px;
}
.single-txt.txt-2 {
	transform: 0;
	margin-top: 10px;
	margin-bottom: 90px;
}
.featured {
	margin-top: 0;
	margin-bottom: 80px;
}


.single-txt.text-1 p {
    transform: rotate(-7deg);
}

.single-txt.txt-2 {
      transform: rotate(0);
}

.title .single-txt img {
	display: inline-block; !important;
}



.contact-btn {
	right: 50%;
	width: 130px;
	margin-right: -65px;
}


.title img {
    margin-bottom: 25px;
    width: 140px;
}
.title .single-txt img {
    display: inline-block;
    width: 25px;
}
.main-fetured.frd-1 {
	text-align: center;
}
.main-fetured.frd-3 {
    text-align: center;
    margin-bottom: 30px;
}
.single-txt p {
	color: #000;
}
.main-fetured.frd-2 {
	text-align: center;
	padding-top: 0;
}
.main-fetured.frd-1 img {
	margin-left: 0px;
}
.main-fetured.frd-3 img {
	margin-left: 0px;
}



}









/* SM Small Device :320px. */
@media only screen and (max-width: 420px) {

.title img {
    margin-bottom: 25px;
    width: 125px;
}


}

